.weapon-button {
    border: none;
    background-color: #262262;
    border-radius: 50%;
    padding: inherit;
    cursor: pointer;
    margin: 0px 25px;
}

.weapon-token {
    height: 200px;
    width: 200px;
    margin: -15px;
}

.weapon-button>.weapon-token:active {
    padding: 4px 0px 0px;
}

/** Opponent Weapon style **/
.flip { transform: scaleX(-1); }
.grayscale { filter: grayscale(50%); }
.brightness { filter: brightness(0.25); }
.huerotate { filter: hue-rotate(300deg); }